<div class="container-form">
  <ul class="d-flex mb-2 buttons-booking p-0 w-100">
    <%= simple_form_for [@challenge, @booking], html:{class: "d-flex align-items-center w-100 flex-column "} do |f| %>
    <li class="d-flex justify-content-around">
      <% if @booking.persisted? %>
        <div class="form-check form-switch" id="form-switch-status">
          <%= f.input :status, as: :boolean, class: "form-check-input", label: false %>
        </div></li>
    <li class="d-flex justify-content-around">
      <% else %>
        <div class="booking-goal" data-controller="booking-goal">
          <h3 data-booking-goal-target="goal">Set goal: 50%</h3>
          <p><%= f.input :goal, as: :range, label: false, input_html: { data: { action:'input->booking-goal#updateGoal' } } %></p>
        </div>
      <% end %></li>
      <% Time.now.strftime('%U') %>
      <% if @booking.persisted? %>
        <%= f.submit "Confirm success", class: "btn-grad btn-success"%>
      <% else %>
        <%= f.submit "Add this challenge", class: "btn-grad" %>
      <% end %>
    <% end %>
  </ul>
</div>
