<h1><%= Challenge.find(@booking.challenge_id).name %></h1>


<% if @booking.status == false %>
  <%= render "bookings/form", bookings: @booking %>
  <%= link_to 'Remove this challenge', booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
  <ul>
    <li><p>Category: <%= Challenge.find(@booking.challenge_id).category %></p></li>
    <li><p>Description: <%= Challenge.find(@booking.challenge_id).description %></p></li>
    <li><p>My Goal: <%= @booking.goal %></p></li>
  </ul>
<% else %>
  <%= link_to "Redo this challenge", challenge_path(@retry_challenge) %>
  <ul>
    <li><p>Category: <%= Challenge.find(@booking.challenge_id).category %></p></li>
    <li><p>Description: <%= Challenge.find(@booking.challenge_id).description %></p></li>
    <li><p>My Goal: <%= @booking.goal %></p></li>
  </ul>
<% end %>

<li>
<% if policy(@booking).edit? %>
  <%= link_to "Edit", edit_booking_path(@booking) %>
<% end %>
</li>
<li>
<%= button_to "Destroy", @booking, method: :delete if policy(@booking).destroy? %>
</li>
