<h1>My challenges </h1>

<ol>
  <% @bookings.each do |booking| %>
    <li>
      <p><%= booking.goal %></p>
      <p>: <%= challenge.status %></p>
      <p>week number: <%= challenge.weeknumber %></p><br>
    </li>
  <% end %>
</ol>

<li>
<% if policy(@booking).edit? %>
  <%= link_to "Edit", edit_booking_path(@booking) %>
<% end %>
</li>
<li>
<%= button_to "Destroy", @booking, method: :delete if policy(@booking).destroy? %>
</li>
