<div class="header">
  <div class="title-avatar">
    <h1>Seniorities</h1>
    <%= image_tag current_user.avatar %>
  </div>
  <p>Discover the seniorities</p>
</div>

<div class="container-nav">
  <section class="seniorities">
    <% @seniorities.each do |seniority| %>
      <div class="card-seniority position-relative">
        <div class="<%= seniority.name.gsub(' ','-').downcase %>-icon icons <%if seniority.ranking > current_user.seniority.ranking%>card-disable<%end%>">
          <i class="fa-solid <%= seniority_icons(seniority.name.gsub(' ','-').downcase) %>"></i>
        </div>
        <div class="card-seniority-infos <%if seniority.ranking > current_user.seniority.ranking%>card-disable<%end%>">
          <h4><strong><%= seniority.name %></strong></h4>
          <p><%= seniority.description %></p>
        </div>
        <%if seniority.ranking > current_user.seniority.ranking%>
        <i class="fa-solid fa-lock position-absolute" style="left: 46%;"></i>
        <% end %>
      </div>
    <% end %>
  </section>
</div>
