<div class="header">
  <div class="title-avatar">
    <h1>Levels</h1>
    <i class="fa-solid fa-ranking-star"></i>
    <%# <%= image_tag current_user.avatar %>
  </div>
  <p>Complete 5 challenges to unlock the next level.</p>
</div>

<div class="container-nav">
  <%= link_to profile_path do %>
    <p class="profile-text"><i class="fa-solid fa-arrow-left green"></i>  Go back to profile</p>
  <% end %>
  <section class="seniorities">
    <% @seniorities.each do |seniority| %>
      <div class="card-seniority position-relative">
        <div class="<%= seniority.name.gsub(' ','-').downcase %>-icon icons <%if seniority.ranking > current_user.seniority.ranking%>card-disable<%end%>">
          <i class="fa-solid <%= seniority_icons(seniority.name.gsub(' ','-').downcase) %>"></i>
        </div>
        <div class="card-seniority-infos <%if seniority.ranking > current_user.seniority.ranking%>card-disable<%end%>">
          <h4><%= seniority.name %></h4>
          <p><%= seniority.description %></p>
        </div>
        <%if seniority.ranking > current_user.seniority.ranking%>
        <i class="fa-solid fa-lock position-absolute" style="left: 46%;"></i>
        <% end %>
      </div>
    <% end %>
  </section>
</div>
