<div class="header">
  <div class="title-avatar">
    <h1>Events</h1>
  </div>
</div>

<div class="container-nav">
  <h3 class="title-avatar mt-2 mb-4">Events around me</h1>
    <div class="event-list">
      <%= @events.each do |event| %>
      <div class="event-card">
        <div class="date-card">
          <p class="day"><%= event.date.strftime("%d") %></p>
          <p class="month"><%= event.date.strftime("%b") %></p>
        </div>
        <div class="full-event">
          <p class="title"><strong><%= event.title %></strong></p>
          <p><%= event.description %></p>
          <p><%= event.address %></p>
          <p><%= link_to 'Know More', event.url %></p>
        </div>
      </div>
      <% end %>
    </div>
</div>
