<div class="header">
  <div class="title-avatar">
    <h1>Events</h1>
  </div>
</div>

<div class="container-nav">
  <h3>Events around me</h1>
  <ul>
    <div class="events-cards">
      <%= @events.each do |event| %>
        <li><%= event.title %></li>
        <li><%= event.description %></li>
        <li><%= event.address %></li>
        <li><%= link_to 'Know More', event.url %></li>
      <% end %>
    </div>
  </ul>
</div>
