<% tips&.each do |tip|  %>
    <div class="cardtips">
      <a class="tipsimage" href="#">
        <i class="fa-solid fa-utensils"></i>
      </a>
      <li>
        <div class="info d-flex justify-content-between">
          <h5><strong><%= tip.name %></strong><br></h5>
          <% if current_user.saved_tips.where(tip: tip).empty? %>
            <%= link_to tip_saved_tips_path(tip), data: {turbo_method: :post}, class:"tipsicon mt-2 me-2" do %>
              <i class="fa-regular fa-bookmark"></i>
            <% end %>
          <% else %>
            <% st = current_user.saved_tips.select{ |st| st if st.tip_id == tip.id } %>
            <%= link_to saved_tip_path(st), data: {turbo_method: :delete}, class:"tipsicon mt-2 me-2" do %>
              <i class="fa fa-bookmark"></i>
            <% end %>
          <% end %>
        </div>
        <p><%= tip.description.truncate(50) %></p>
        <%# <p>Challenge category: <%= tip.challenge.category  %>
      </li>
    </div>
  <% end %>
  <% usertips&.each do |tip|  %>
    <div class="cardtips">
      <a class="tipsimage" href="#">
        <i class="fa-solid fa-utensils"></i>
      </a>
      <li>
        <div class="info d-flex justify-content-between">
          <h5><strong><%= tip.name %></strong><br></h5>
          <% if current_user.saved_user_tips.where(usertip: tip).empty? %>
            <%= link_to usertip_saved_user_tips_path(tip), data: {turbo_method: :post}, class:'tipsicon mt-2 me-2' do %>
              <i class="fa-regular fa-bookmark"></i>
            <% end %>
          <% else %>
            <% sut = current_user.saved_user_tips.select{ |sut| sut if sut.usertip_id == tip.id } %>
            <%= link_to saved_user_tip_path(sut), data: {turbo_method: :delete}, class:"tipsicon mt-2 me-2" do %>
              <i class="fa fa-bookmark"></i>
            <% end %>
          <% end %>
        </div>
        <p><%= tip.description.truncate(50)  %></p>
        <%# <p>Challenge category: <%= tip.booking.challenge.category  %>
      </li>
    </div>
  <% end %>
