<div class="header header-green">
  <div class="title-avatar">
    <h1>My challenges</h1>
    <i class="fa-solid fa-dumbbell"></i>
  </div>
  <p>Yes you can! 💪 Stay motivated 🏋️‍♀️ </p>
</div>

<div class="accordion" id="accordionPanelsStayOpen-challenge" style="padding-bottom: 180px">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        On going challenges
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <section class="challenges">
          <% @on_going_bookings.each do |booking| %>
              <%= link_to booking_path(booking) do %>
                <div class="card-challenge">
                  <div class="<%= Challenge.find(booking.challenge_id).category.downcase %>-icon icons">
                    <i class="fa-solid <%= find_icon(Challenge.find(booking.challenge_id).category) %>"></i>
                  </div>
                  <div class="card-challenge-infos">
                    <h5><strong><%= Challenge.find(booking.challenge_id).name %></strong></h5>
                    <p><%= Challenge.find(booking.challenge_id).description.truncate(45) %></p>
                  </div>
                  <i class="fa-solid fa-chevron-right"></i>
                </div>
              <% end %>
          <% end %>
        </section>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Past challenges
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <section class="challenges">
          <% @past_bookings.each do |booking| %>
              <%= link_to booking_path(booking) do %>
                <div class="card-challenge">
                  <div class="<%= Challenge.find(booking.challenge_id).category.downcase %>-icon icons">
                    <i class="fa-solid <%= find_icon(Challenge.find(booking.challenge_id).category) %>"></i>
                  </div>
                  <div class="card-challenge-infos past-challenges">
                    <h5><strong><%= Challenge.find(booking.challenge_id).name %></strong></h5>
                    <i class="fa-solid fa-circle-check"></i>
                    <p><%= Challenge.find(booking.challenge_id).description.truncate(45) %></p>
                  </div>
                  <i class="fa-solid fa-chevron-right"></i>
                </div>
              <% end %>
          <% end %>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="btn-sticky-challenges container-nav">
    <%= link_to "Add new challenges", challenges_path, class: "btn-grad" %>
</div>
