<h1>My Tips</h1>

<h4>My saved tips</h4>

<ol>
  <% @my_saved_tips.each do |saved_tip| %>
    <% if saved_tip.class == SavedTip %>
      <li>
        <%= saved_tip.tip.name %><br>
        <%= saved_tip.tip.description %><br>
        <%= link_to "Unsave this tip", saved_tip_path(saved_tip), data: {turbo_method: :delete} %>
      </li>
      <% else saved_tip.class == SavedUserTip %>
        <% unless saved_tip.usertip.user == current_user %>
          <li>
            <%= saved_tip.usertip.name %><br>
            <%= saved_tip.usertip.description %><br>
            <%= link_to "Unsave this tip", saved_user_tip_path(saved_tip), data: {turbo_method: :delete} %>
          </li>
        <% end %>
      <% end %>
  <% end %>
</ol>

<h4>My created tips</h4>

<ol>
  <% @my_created_tips.each do |tip| %>
    <li>
      <p><%= tip.name %></p>
      <p><%= tip.description %></p>
      <%= link_to "Edit", edit_usertip_path(tip) %>
      <%= link_to "Delete", usertip_path(tip), data: {turbo_method: :delete} %>
    </li>
  <% end %>
</ol>

<%= link_to "Create a new tip", new_usertip_path %>
<%= link_to "Save a new tip", tipsindex_path %>
