<div class="container">
   <div class="header">
    <h1>My challenges</h1>
    <img src="<%= current_user.avatar %>" alt="">
  </div>
  <div class="text-new-challenge">
    <h4><strong>On going challenges</strong></h4>
  </div>
  <section class="challenges">
    <% @on_going_bookings.each do |booking| %>
        <%= link_to booking_path(booking) do %>
          <div class="card-challenge">
            <div class="<%= Challenge.find(booking.challenge_id).category.downcase %>-icon icons">
              <i class="fa-solid <%= find_icon(Challenge.find(booking.challenge_id).category) %>"></i>
            </div>
            <div class="card-challenge-infos">
              <h4><strong><%= Challenge.find(booking.challenge_id).name %></strong></h4>
              <p><%= Challenge.find(booking.challenge_id).description.truncate(45) %></p>
            </div>
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        <% end %>
    <% end %>
  </section>

  <div class="text-new-challenge">
    <h4><strong>Past challenges</strong></h4>
  </div>
  <section class="challenges">
    <% @past_bookings.each do |booking| %>
        <%= link_to booking_path(booking) do %>
          <div class="card-challenge">
            <div class="<%= Challenge.find(booking.challenge_id).category.downcase %>-icon icons">
              <i class="fa-solid <%= find_icon(Challenge.find(booking.challenge_id).category) %>"></i>
            </div>
            <div class="card-challenge-infos">
              <h4><strong><%= Challenge.find(booking.challenge_id).name %></strong></h4>
              <p><%= Challenge.find(booking.challenge_id).description.truncate(45) %></p>
            </div>
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        <% end %>
    <% end %>
  </section>


  <%= link_to "Add new challenges", challenges_path, class: "btn-grad" %>
</div>
