<div class="header header-green">
  <div class="title-avatar">
    <h1>My profile</h1>
    <%= image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "avatarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="avatarDropdown">
        <%= link_to "Home", root_path, class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      </div>
  </div>
  <p>Welcome <%= current_user.username %>! 👋 </p>
</div>

<div class="container-nav">
  <div class="activity-report">
    <h2>You are a <%= current_user.seniority.name %>! <i class="fa-solid <%= seniority_icons(current_user.seniority.name.gsub(' ','-').downcase) %>"></i></h2>
    <%= link_to seniorities_path do %>
      <div class="profile-cards green-card" id="seniority">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= @progress %>%" aria-valuenow="<%= @progress %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <% if @next_seniority.nil? %>
          <p>You are an amazing eco citizen! </p>
        <% else %>
          <p><strong>Level: </strong><%= @remaining %>% remaining to become a <%= @next_seniority.name %>.</p>
        <% end %>
        <i class="fa-solid fa-arrow-right white" id="arrow-seniority"></i>
      </div>
    <% end %>

    <div class="profile-cards white-card" id="going-challenge">
      <p><strong>On going challenges</strong></p>
      <p>This week you have:</p>
      <ul class="cards">
        <li class="card card-scroll-cat food">
          <p><%= count = @on_going_bookings.select {|b| b.challenge.category == "Food"}.count %> Food <%= "challenge".pluralize(count) %></p>
        </li>
        <li class="card card-scroll-cat waste">
          <p><%= count = @on_going_bookings.select {|b| b.challenge.category == "Waste"}.count %> Waste <%= "challenge".pluralize(count) %></p>
        </li>
        <li class="card card-scroll-cat purchase">
          <p><%= count = @on_going_bookings.select {|b| b.challenge.category == "Purchase"}.count %> Purchase <%= "challenge".pluralize(count) %></p>
        </li>
        <li class="card card-scroll-cat transport">
          <p><%= count = @on_going_bookings.select {|b| b.challenge.category == "Transport"}.count %> Transport <%= "challenge".pluralize(count) %></p>
        </li>
        <li class="card card-scroll-cat energy">
          <p><%= count = @on_going_bookings.select {|b| b.challenge.category == "Energy"}.count %> Energy <%= "challenge".pluralize(count) %></p>
        </li>
      </ul>
    <%= link_to profile_challenge_path do %>
      <i class="fa-solid fa-arrow-right green" id="arrow-going-challenge"></i>
    <% end %>
    </div>

    <div class="profile-cards white-card" id="past-challenge">
      <%= link_to profile_challenge_path do %>
        <p><strong>Past challenges</strong></p>
        <p>You have completed <strong><%=@past_bookings.count%></strong> <%= "challenge".pluralize(@past_bookings.count) %> so far!</p>
        <i class="fa-solid fa-arrow-right green" id="arrow-past-challenge"></i>
      <% end %>
    </div>
  </div>

  <div class="daily-tips">
    <h2>Event this week</h2>
    <%= link_to events_path do %>
      <p>See more <i class="fa-solid fa-arrow-right green"></i></p>
    <% end %>
  </div>

  <ul class="cards">
    <% @events.each do |event| %>
      <li class="card card-scroll card-scroll-events">
        <p><strong><%= event.title %></strong></p>
        <p><%= event.date.strftime("%-d %b %Y") %></p>
        <p><%= event.address %></p>
        <%= link_to event.url do %>
          <i class="fa-solid fa-plus" id="plus-event"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="daily-tips">
    <h2>Weekly tips</h2>
    <%= link_to tipsindex_path do %>
      <p>See more <i class="fa-solid fa-arrow-right green"></i></p>
    <% end %>
  </div>

  <ul class="cards">
    <li class="card card-scroll card-scroll-tips">
      <p><strong><%= @tip.name %></strong></p>
      <p>"<%= @tip.description %>"</p>
    </li>
    <li class="card card-scroll card-scroll-tips">
      <p><strong><%= @usertip.name %></strong></p>
      <p>"<%= @usertip.description %>"</p>
    </li>
  </ul>
</div>
