<div class="header">
  <div class="title-avatar">
    <h1>All tips</h1>
    <i class="fa-regular fa-lightbulb" id="lightclub"></i>
  </div>
  <p>Find the perfect tips ðŸ’¡ to complete your challenges</p>
</div>

<div class="container-nav" data-controller="search-tips tips-card">

  <div id="search">
    <%= simple_form_for :search, url: tipsindex_path, method: :get, html: {
      data: {
        search_tips_target: "form",
        action: 'submit->search-tips#search'
      }
    } do |f| %>
    <div class="d-flex flex-row justify-content-center cb">
      <%= f.input :category,
                  legend_tag: false,
                  as: :check_boxes,
                  collection: @categories,
                  wrapper_html: {
                    class: 'd-flex flex-wrap justify-content-center'
                  },
                  input_html: {
                    class: "tag-selector",
                    data: {
                      action: 'click->search-tips#search'
                    }
                  },
                  item_wrapper_class: 'tag-item' %>
    </div>
    <div class="search-elmts d-flex flex-row justify-content-center">
      <%= f.input :query, class: "form-control", placeholder: "Find a tip ðŸ”", label: false, input_html: { 'data-search-tips-target' => 'input', data: { action: 'keyup->search-tips#search' } } %>
      <%= submit_tag "Search", class: "btn btn-grad search-btn d-none" %> <% end %>
    </div>
  </div>

  <br>

  <ul class="ultips" data-search-tips-target="list">
    <%= render 'pages/tips_list', tips: @tips, usertips: @usertips %>

  </ul>
</div>
