<h1>New challenges</h1>

<ol>
  <% @challenges.each do |challenge| %>
    <% if current_user.bookings.where(challenge_id: challenge.id).empty? %>
      <li>
        <p><%= challenge.name %> - <%= challenge.id %></p>
        <p>category: <%= challenge.category %></p>
        <p>description: <%= challenge.description %></p>
        <%= link_to "details", challenge_path(challenge) %><br>
      </li>
    <% end %>
  <% end %>
</ol>
