<div class="header">
  <div class="title-avatar">
    <h1>New challenges</h1>
    <img src="<%= current_user.avatar %>" alt="">
  </div>
  <p>Choose some challenges for this week</p>
</div>

<div class="container">
  <section class="challenges">
    <% @challenges.each do |challenge| %>
      <% if current_user.bookings.where(challenge_id: challenge.id).empty? %>
        <%= link_to challenge_path(challenge) do %>
          <div class="card-challenge">
            <div class="<%= challenge.category.downcase %>-icon icons">
              <i class="fa-solid <%= find_icon(challenge.category) %>"></i>
            </div>
            <div class="card-challenge-infos">
              <h4><strong><%= challenge.name %></strong></h4>
              <p><%= challenge.description.truncate(45) %></p>
            </div>
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </section>
</div>
