<div class="header-no-avatar">
  <div class="title-no-avatar">
    <h2><%= @challenge.name%></h2>
  </div>
</div>

<div class="container-nav" data-controller="tips-card">
  <ul class="ultips">
    <li>
      <p>category: <%= @challenge.category %></p>
    </li>
    <li>
      <p>description: <%= @challenge.description %></p>
    </li>
  </ul>

  <h4>Need some tips</h4>

  <ul class="ultips">
    <% @tips.each do |tip| %>
    <div class="cardtips">
      <a class="tipsimage" href="#">
        <i class="fa-solid fa-utensils"></i>
      </a>
      <li>
        <div class="info d-flex justify-content-between">
          <h5><strong><%= tip.name %></strong><br></h5>
          <% if tip.class == Tip %>
            <%= link_to tip_saved_tips_path(tip), data: {turbo_method: :post}, class:"tipsicon mt-2 me-2" do %>
              <i class="fa-regular fa-bookmark"></i>
            <% end %>
          <% else tip.class == Usertip %>
            <%= link_to usertip_saved_user_tips_path(tip), data: {turbo_method: :post}, class:'tipsicon mt-2 me-2' do %>
              <i class="fa-regular fa-bookmark"></i>
            <% end %>
          <% end %>
        </div>
        <p class="description desc-truncate" data-action="click->tips-card#revealDescription"><%= tip.description %></p>
      </li>
    </div>
    <% end %>
  </ul>
  <ul class="ultips">
    <% @all_saved_tips.each do |saved_tip| %>
    <div class="cardtips">
      <a class="tipsimage" href="#">
        <i class="fa-solid fa-utensils"></i>
      </a>
      <li>
      <% if saved_tip.class == SavedTip %>
        <div class="info d-flex justify-content-between">
          <h5><strong><%= saved_tip.tip.name %></strong><br></h5>
          <%= link_to saved_tip_path(saved_tip), data: {turbo_method: :delete}, class:"tipsicon mt-2 me-2" do %>
            <i class="fa fa-bookmark"></i>
          <% end %>
        </div>
        <p class="description desc-truncate" data-action="click->tips-card#revealDescription"><%= saved_tip.tip.description %></p>
      <% else saved_tip.class == SavedUserTip %>
        <div class="info d-flex justify-content-between">
          <h5><strong><%= saved_tip.usertip.name %></strong><br></h5>
          <%= link_to saved_user_tip_path(saved_tip), data: {turbo_method: :delete}, class:'tipsicon mt-2 me-2' do %>
            <i class="fa fa-bookmark"></i>
          <% end %>
        </div>
        <p class="description desc-truncate" data-action="click->tips-card#revealDescription"><%= saved_tip.usertip.description %></p>
      <% end %>
      </li>
    </div>
    <% end %>
  </ul>

  <div class="up-nav"><%= render "bookings/form", bookings: @booking %></div>

</div>
