<h1><%= @challenge.name%></h1>

<%= render "bookings/form", bookings: @booking %>
<br>

<ul>
    <li>
      <p>category: <%= @challenge.category %></p>
    </li>
    <li>
      <p>description: <%= @challenge.description %></p>
    </li>
</ul>

<h4>Need some tips</h4>

<ul>
  <% @tips.each do |tip| %>
    <li>
      <%= tip.name %><br>
      <%= tip.description %><br>
      <%= link_to "Save this tip", tip_saved_tips_path(tip), data: {turbo_method: :post} %>    </li>
  <% end %>
</ul>

<ul>
  <% @saved_tips.each do |saved_tip| %>
    <li>
      <%= saved_tip.tip.name %><br>
      <%= saved_tip.tip.description %><br>
      <%= link_to "Unsave this tip", saved_tip_path(saved_tip), data: {turbo_method: :delete} %></li>
  <% end %>
</ul>



<%# button à mettre pour ajouter ce challenge/create a booking %>
<%# <%= link_to "Add a booking", new_challenge_booking_path(@challenge) %>
