<!DOCTYPE html>
<html>
  <head>
    <title>Ecocoach</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json'%>
    <%= render 'shared/ios_pwa_links' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
  </head>

  <body>
    <%# <%= render "shared/navbar" %>
    <div class="view">
      <%= render "shared/flashes"%>
      <% if action_name != "home" %>
        <%= render "shared/navbar_eco" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
